# GitHub to recognize JavaScript files in docs folder
docs/javascript/**/*.js linguist-language=JavaScript

# Alternative
docs/javascript/authentication/*.js linguist-language=JavaScript
docs/javascript/**/*.js linguist-language=JavaScript

*.min.js linguist-generated=true